{% extends 'base.html' %}
{% block title %}Household Detail{% endblock %}
{% block content %}
<h1>Household {{ household.id }}</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}
    </p>
    <p>{{ form.submit(class_='btn btn-primary') }}</p>
</form>
<h2>Members</h2>
<ul>
    {% for m in members %}
        <li>{{ m.name }}</li>
    {% endfor %}
</ul>
<form method="post">
    {{ member_form.hidden_tag() }}
    <p>
        {{ member_form.name.label }}<br>
        {{ member_form.name(size=32) }}
    </p>
    <p>{{ member_form.submit(class_='btn btn-secondary') }}</p>
</form>
<a href="{{ url_for('intake.list_households') }}">Back to list</a>
{% endblock %}
